body{
  background-image: url("../public/images/bg3.png") !important;
  background-size: cover !important;
  display: flex !important;
  image-resolution: 1080px !important;
  background-repeat: no-repeat !important;
  height: 100vh !important;
}
